<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>852602075781-rrpbihd96om0davuhrn253mbuq95ie20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852602075781-rrpbihd96om0davuhrn253mbuq95ie20</string>
	<key>API_KEY</key>
	<string>AIzaSyAgAinh38JA4lLe-CKnIkm4_9x5qOqYQgY</string>
	<key>GCM_SENDER_ID</key>
	<string>852602075781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>light.MyFirstChatApp</string>
	<key>PROJECT_ID</key>
	<string>myfirstchatapp-4ba5a</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstchatapp-4ba5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:852602075781:ios:b797fa8acaeaf0db</string>
	<key>DATABASE_URL</key>
	<string>https://myfirstchatapp-4ba5a.firebaseio.com</string>
</dict>
</plist>